.home{
    background: url('/assets/img/home-bg.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100vh
}
.reserve-form{
    position: absolute;
    right:60px;
    width:400px;
    height:500px;
    background:white;
    top:120px;
    opacity:1;
    overflow: hidden;
}
.form{
    &--header{
        padding:10px;
        color:white;
        background:#272727;
    }
}


//DEFAULT CSS
.text--center{
    text-align: center;
}